{% extends 'layout/base.html' %}
{% load crispy_forms_filters %}

{% block title %}Ingresa Nueva Contraseña{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3 justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Restablece tu contraseña</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-8 d-flex justify-content-center">
                <form class="form" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-center mt-2">
                        <input class="btn btn-primary" type="submit" value="Cambiar Contraseña">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}