{% extends 'layout/base.html' %}

{% block title %}Eliminar Artículo{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h1 class="text-center">Confirmar Borrado de Artículo</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-8 d-flex justify-content-center">
                <form class="form" method="post">
                    {% csrf_token %}
                    <p class="text-center">¿Está seguro de eliminar este artículo?</p>
                    <div class="d-flex justify-content-center mt-2">
                        <input class="btn btn-primary" type="submit" value="Confirmar">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}