{% extends 'layout/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h1 class="text-center">Newspaper App Homepage</h1>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-md-8">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis dapibus libero id libero ornare auctor. Cras ut dui eu
                    urna suscipit tempor eu congue metus. Pellentesque vitae
                    massa urna. Cras lacus libero, blandit id elit id, feugiat
                    aliquam nisi nam.


                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maecenas sed molestie eros. Cras varius convallis ornare.
                    Cras rutrum tortor eu odio convallis, ac pellentesque augue
                    mattis. Pellentesque orci augue, convallis a maximus quis,
                    posuere a magna. Nam iaculis, est quis ornare viverra, nisl
                    turpis dictum ipsum, sit amet lobortis sapien lectus tincidunt
                    nibh. Phasellus rhoncus dapibus augue. Donec id dignissim dolor.
                    Mauris lorem ipsum, pretium vel leo nec, rutrum tempus ipsum.
                    Mauris eget non.
                </p>
            </div>
        </div>
    </div>
{% endblock %}